{% extends 'base.html.twig' %}
{% block title %}accueil{% endblock title %}
{% block body %}	
<div class="section accueil">
	<section>
		<div>
			<img src="public/image/index.png" class="img-fluid bta" alt="Responsive image">
		</div>
	</section>
	<section>
		<a href="{{ path('home') }}">
			<img src="public/image/entrer.png" class="btn-acc" alt="Responsive image">
		</a>
	</section>
</div>
{% endblock body %}	