{% extends 'base.html.twig' %}
{% block title %}accueil{% endblock title %}
{% block body %}


<div class="section">
  <div class="top-border left"></div>
  <div class="top-border right"></div>

  <h1>CONDITIONS DE VENTE</h1>  
      <p class=" text-justify w-sm-12" >
        Nous attachons la plus haute importance à leurs trouver un foyer responsable, doux et aimant, aussi nous nous réservons le droit de refuser une vente si nous le jugeons nécessaire.
        Les chatons ne peuvent quitter notre foyer qu’au terme de 12 semaines minimum ( soit 3 mois) seuvrés et éduqués correctement par leur mère.</p>

      <p class="text-justify" >
        vaccinés (primo + rappel) pour les maladies suivantes : Typhus, coryza, leucose, et    clamydiose
        déparasité chaque mois
        identifié par puce électronique à l’ICAD
        accompagné par un certificat de bonne santé établi par notre vétérinaire
        inscrit au LOOF (pedigree) qui vous sera transmis par courrier dès réception
        accompagnés des tests des parents respectifs
      </p>

      <p class="text-justify">
        Nos ventes sont contractuelles.
        Les chatons sont vendus pour la compagnie, c'est-à-dire stérilisés.

        Toutefois, nous pourrons étudier exceptionnellement au cas par cas la vente pour reproduction. 
      </p>

   
  

  <section>
      <a href="chatons.html">
          <img src="{{ asset('retour.png" class="btn-acc" alt="Responsive image">
      </a>
  </section>
