{% extends 'base.html.twig' %}
{% block title %}accueil{% endblock title %}
{% block body %}
			
		<img src="{{ asset('logo.png') }}"  class="img-fluid" alt="Responsive image" >

	<nav class="menu" style="background-color: none;">  
   <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="Accueil.html">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="Lachatterie.html">La Chatterie</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="larace.html">La race</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="males.html">Mâles</a>
  </li> <li class="nav-item">
    <a class="nav-link" href="femelles.html">Femelles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link actif" href="chatons.html">Chatons</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="retraites.html" tabindex="-1" aria-disabled="true">Retraités</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="contact.html" tabindex="-1" aria-disabled="true">Contact</a>
  </li>
</ul>
  
</nav>

  
  <div class="col-5"; id="menu_chaton">
    <nav id="navbar-example3" class="navbar navbar-light bg-none" id="zoom">
        <a class="navbar-brand" href="#">
          <img class="chaton_p1" src="{{ asset('menuchaton.PNG" alt="" >
        </a>
      <nav class="nav nav-pills flex-column">

        <a class="nav-link" href="#item-1">Mariage prévus</a>

        <nav class="nav nav-pills flex-column">
         <a class="nav-link ml-3 my-1" href="dispo.html">Chatons disponibles</a>
         <a class="nav-link ml-3 my-1" href="#item-1-2">Vidéos</a>
        </nav>
         <a class="nav-link" href="cdv.html">Condition de vente</a>
          <a class="nav-link" href="croissance.html">Sa croissance</a>
        <nav class="nav nav-pills flex-column">
         <a class="nav-link ml-3 my-1" href="anciens.html"> Anciens chatons</a>
          <!--<a class="nav-link ml-3 my-1" href="anciens.html">Anciens chatons</a>-->
        </nav>
      </nav>
    </nav>
  </div>
 


<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
      

    </body>

</html>