{% extends 'base.html.twig' %}
{% block title %}accueil{% endblock title %}
{% block body %} 
  <div class="col-5"; id="menu_chaton">
    <nav id="navbar-example3" class="navbar navbar-light bg-none" id="zoom">
        <a class="navbar-brand" href="#">
          <img class="chaton_p1" src="public/image/menuchaton.PNG" alt="" >
        </a>
      <nav class="nav nav-pills flex-column">

        <a class="nav-link" href="#item-1">Mariage prévus</a>

        <nav class="nav nav-pills flex-column">
         <a class="nav-link ml-3 my-1" href="dispo.html">Chatons disponibles</a>
         <a class="nav-link ml-3 my-1" href="#item-1-2">Vidéos</a>
        </nav>
         <a class="nav-link" href="cdv.html">Condition de vente</a>
          <a class="nav-link" href="croissance.html">Sa croissance</a>
        <nav class="nav nav-pills flex-column">
         <a class="nav-link ml-3 my-1" href="anciens.html"> Anciens chatons</a>
        </nav>
      </nav>
    </nav>
  </div>
{% endblock body %}
