<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css_mjtom/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../css_mjtom/site.css">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <img src="../images_mjtom/logo.png"  class="img-fluid" alt="Responsive image" >
    <title>A propos</title>

		</head>

		<body>


	<nav class="menu" style="background-color: none;">  
   <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="Accueil.html">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="Lachatterie.html">La Chatterie</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="larace.html">La race</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="males.html">Mâles</a>
  </li> <li class="nav-item">
    <a class="nav-link" href="femelles.html">Femelles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="chatons.html">Chatons</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="retraites.html" tabindex="-1" aria-disabled="true">Retraités</a>
  </li>
  <li class="nav-item">
    <a class="nav-link actif" href="contact.html" tabindex="-1" aria-disabled="true">Contact</a>
  </li>
</ul>
  
</nav>


	 <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-xs-6">
  		
   			  <img src="../images_mjtom/ou.png"  class="img-contact" id="taille_ou" alt="Responsive image" >
				    <p class="p_contact"> Nous résidons dans la Somme en France</br>
              A plachy Buyon
				    </p>
			  </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-xs-6">
          <img src="../images_mjtom/contacter.png" class="img-contact" alt="Responsive image" id="taille_ctct" >
			     <p class="p_contact">	Par téléphone au : 06 20 00 16 56 </br>
				        Ou via nôtre formulaire:</br>
				    </p>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-xs-6">
          <div class="w-100"> <!-- Le lien google map ici -->
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41196.21096287769!2d2.1832232139172767!3d49.80931967426198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e79ce19f544249%3A0x40af13e8161fd10!2s80160+Plachy-Buyon!5e0!3m2!1sfr!2sfr!4v1561726797714!5m2!1sfr!2sfr" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

          </div>
        </div>

        <div class="col">

          <form class="form_contact">

            <div class="form-row">
              <div class="col-md-4">Nom :
                <input type="text" class="form-control-sm" placeholder="" required>
              </div>
              
                <div class="col-md-4" id="espace_form">Prénom :
                  <input  type="text" class="form-control-sm" placeholder="" required>
                </div>
            </div>
     
     <div class="form-row">
    <div class="col-md-4">
      <label for="inputAddress">Code postal :</label>
       <input type="text" class="form-control-sm" id="inputAddress" placeholder="5 chiffres attendus" required>
    </div>

    <div class="col-md-4" id="espace_form"> 
      <label for="inputCity" required>Ville :</label>
       <input type="text" class="form-control-sm" id="inputCity" placeholder="" required >
    </div>
  </div>

  <div class="form-row ">
    <div class="col-md-4">
      <label for="inputEmail4" id="inputEmail4">Email :</label>
        <input type="email" class="form-control-sm" id="inputEmail4" placeholder="nomprenom@gmail.com"required>
    </div>

    <div class="col-md-4" id="espace_form">
      <label for="inputtel4">Téléphone :</label>
        <input type="tel" class="form-control-sm" id="inputtel4" placeholder="saisir vos 10 chiffres" required>
    </div>
  </div>


 <!-- <div class="form-row justify-content-between" > 
    <label for="validationTextarea">Vôtre message :</label>
    <textarea class="form-control is-invalid" placeholder="Required example textarea"rows="3" ></textarea>
  </div> -->

    <div class="form-row justify-content-between" > 
    <label for="validationTextarea"> Vôtre message :</label>
        <textarea class="form-control" id="validationTextarea" placeholder="Merci de bien vouloir nous expliquer clairement vôtre requêtes" row="3"required></textarea>
  </div>

  <div class="form-row ">
    <div class="col-md-5">
       <button ><a href="dispo.html">Retour disponibilités chatons</a></button>
    </div>

    <div class="col-md-4 " id="espace_form">
        <button  type="submit">Envoyer</button>
    </div>
    </div>
  </div>
   
</form>

</div>
</div>
</div>






  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		</body>

</html>