{% extends 'base.html.twig' %}
{% block title %}accueil{% endblock title %}
{% block body %}
			
    <div class="container mt-1 d-flex justify-content-start"><img src="croissance.png" alt="Responsive image"></div>
      <div class="container">
        <div class="row">
          <div class="col col-lg-3">
            <div id="list-example" class="list-group">
          <span class="groupe"><a class="list-group-item list-group-item-action" href="#list-item-1">Auprès de sa mère :</a></span>
          <span class="groupe"><a class="list-group-item list-group-item-action" href="#list-item-2">L'exploration :</a></span>
          <span class="groupe"><a class="list-group-item list-group-item-action" href="#list-item-3">Le départ:</a></span>
          <span class="groupe"><a class="list-group-item list-group-item-action" href="#list-item-4">Le vieux chat:</a></span>
      </div>
    </div>
    <div class="col col-lg-9">
      <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example" >
  <h4 id="list-item-1">Auprès de sa mère :</h4>

  <p> Le chaton va progressivement augmenter son poids en buvant le lait de sa mère dont il est  complètement dépendant puisqu'il est aveugle et sourd. Elle s'occupe de le nourrir de son lait et de le nettoyer jusqu'à ce qu'il ait un poids suffisant et des muscles assez forts pour commencer à marcher. Il faut compter environ 5 semaines. Pendant ces 5 semaines déjà l'éleveur se charge de le familiariser progressivement avec l'homme en tissant des liens particuliers qui feront de vôtre futur bébé un compagon idéal au sein de vôtre foyer. Bien que cela dépende aussi du caractère de l'animal, les manipulations fréquentes et tout l'amour et les expériences positives que nous lui procurerons seront déterminantes dans sa construction de chaton équilibrés.
  </p>

  <h4 id="list-item-2">L'exploration :</h4>

  <p>
      L'exploration : 

      Vers 3 semaines le chatons quitte le nid et découvre le monde qui l'entoure. Nous prenons grand soin de lui permettre de découvrir le plus de choses possibles pour lui garantir d'être le plus relax possible dans sa vie de chat adulte. C'est aussi la période où il va apprendre à découvrir la nourriture humide et solide. Nous prenons grand soin de donner de la nourriture de qualité et diversifiée de façon à faciliter la transition de nôtre domicile au  vôtre. Le chaton découvrira, les croquettes, la pâtée et de la viande. Le chat étant un carnivore, il est essentiel de garder à l'esprit que, pour garantir un bon développement et une bonne santée à vôtre petit compagnon, il faut qu'il ait son apport en protéine et en taurine (taurine que le chat ne peut pas synthétiser lui même et qu'il trouve dans les proies qu'il mange à l'état sauvage).
      Pour le reste, la mère est là pour leur enseigner les préceptes de bonne conduite et va leur aprendre la propreté ( entre autre ) mais aussi les règles de savoir vivre et de bonne conduite, nous n'apportons qu'un supplément et en rien nous ne remplaçons le travail indispensable de la mère. Nos chatons partent pour cela à 3 mois révolu (ou plus si nous jugeons que le chaton en a besoin ) à la fois pour son confort mais aussi le vôtre. Un placement d'un chaton non seuvré et pas complètement éduqué pour avoir des répercutions négatives sur l'avenir de tout le monde.</p>

  <h4 id="list-item-3">Le départ :</h4>

  <p>Une fois le chaton seuvré et parfaitement sociabilisé, vous aurez le bonheur d'accueillir cette charmante boule de poils à la maison. Sa croissance ne se terminera qu'à 4 ans ( croissance très lente ) aussi durant cette période il est curcial de lui apporter une nourriture de qualité pour éviter les carences qui pourraient entraîner des problèmes osseux, au coeur, au reins et ne pas stimuler normalement leurs défences immunitaires ( ce qui rendrait vôtre chat plus sensible aux éléments pathogènes liés à l'environnement). N'oubliez pas, tout comme pour les humains, les chats sont ce qu'ils mangent. Une nourriture à base de croquette bas de gamme (ou humide) peu riche en protéine entrainerait fatalement des soucis sur le long terme (et une augmentation de vôtre facture vétérinaire!).
  Vôtre chat aura besoin d'avoir accès à de la nourriture à volonté jusqu'à ses 1 ans, phase ou sa croissance nécéssitera le plus d'énergie possible pour bien grandir. Après cela , vous pourrez passer à des portions plus raisonnables ( mais toujours équilibrées et liées aux besoin de vôtre carnivore préféré).</p>
  
  <h4 id="list-item-4">Le vieux chat:</h4>

  <p>Si vous avez suivi ces petites règles très simple, vous aurez sûrement la chance depouvoir écouler des jours heureux avec vôtre compagnon, et ce pour très longtemps. Gardez bien en tête que nous ne pouvons garantir la durée de vie de l'animal ( celle-ci dépendant bien entendu de plusieurs facteurs liés à l'environnement que vous lui créerez tout au long de sa vie ). Ne vous laissez pas avoir par les produits "spécial chast stérilisés" ," spécial chatons" ou "spécial adulte" que vous pourrez trouver en magasin, ceci n'est que purement marketing. Vôtre chat aura une nourriture adaptée une fois arrivé à un âge assez vieux en fonction de ses besoins et de ses éventuels problèmes de santé. Si nous plaçons un de nos bébé chez vous, nous espérons pouvoir vous faire confiance en ce qui concerne le fait de ne pas abandonner vôtre animal une fois arrivé à un âge avancé, c'est dans l'ordre des choses et il doit pouvoir compter sur vous jusqu'à la fin. Nous restons à vôtre disposition à chaque étape de sa vie ( sous couvert d'avoir des nouvelles régulières).</p>
</div>
    </div>
  </div>
  </div>

<div class="container mt-2 d-flex justify-content-center" >
  <section>
    <a href="chatons.html">
      <img src="retour.png" class="bt" alt="Responsive image">
    </a>
  </section>
</div>
{% endblock body %}
