<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">  
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mainecoon a vendre" content="mainecoon, somme, picardie, amiens, élevage, chatterie">
    <meta name="description" content="Sogelog">
    <meta name="author" content="Thierry">
    <meta name="keywords" content="Mainecoon, chatons, vente, achat, Brown tabby, Bleu silver tabby, Black silver tabby, torbie, blotched tabby, mackerel tabby">
    <meta name="keywords" content="ticked tabby, tiqueté, Red silver tabby, self, smoke, chat tabby ">
    <link rel="shortcut icon" href="http://www.mainecoonavendre.com/img/favicon.png">

    <title>
      Elevage Mainecoon Amiens
    </title>
    <!-- Bootstrap core CSS -->
    <link href="Elevage%20Mainecoon%20Amiens_fichiers/bootstrap.css" rel="stylesheet">
    <link href="Elevage%20Mainecoon%20Amiens_fichiers/theme.css" rel="stylesheet">
    <link href="Elevage%20Mainecoon%20Amiens_fichiers/bootstrap-reset.css" rel="stylesheet">
    <link href="Elevage%20Mainecoon%20Amiens_fichiers/contact.css" rel="stylesheet" type="text/css" media="screen">
    
    <!--external css-->
    <link href="Elevage%20Mainecoon%20Amiens_fichiers/font-awesome.html" rel="stylesheet">
    <link rel="stylesheet" href="Elevage%20Mainecoon%20Amiens_fichiers/flexslider.css">
    <link href="Elevage%20Mainecoon%20Amiens_fichiers/jquery.css" rel="stylesheet">
    <link rel="stylesheet" href="Elevage%20Mainecoon%20Amiens_fichiers/animate.css">
    <link rel="stylesheet" href="Elevage%20Mainecoon%20Amiens_fichiers/owl.css">
    <link rel="stylesheet" href="Elevage%20Mainecoon%20Amiens_fichiers/owl_002.css">

    <link href="Elevage%20Mainecoon%20Amiens_fichiers/superfish.css" rel="stylesheet" media="screen">
    <link href="Elevage%20Mainecoon%20Amiens_fichiers/css.css" rel="stylesheet" type="text/css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->


    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="Elevage%20Mainecoon%20Amiens_fichiers/component.css">
    <link href="Elevage%20Mainecoon%20Amiens_fichiers/style.css" rel="stylesheet">
    <link href="Elevage%20Mainecoon%20Amiens_fichiers/style-responsive.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="Elevage%20Mainecoon%20Amiens_fichiers/parallax-slider.css">
    <script async="" src="Elevage%20Mainecoon%20Amiens_fichiers/analytics.js"></script><script type="text/javascript" src="Elevage%20Mainecoon%20Amiens_fichiers/modernizr.html">
    </script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
<script src="js/html5shiv.js">
</script>
<script src="js/respond.min.js">
</script>
<![endif]-->
  <style type="text/css">.dropdown-submenu:hover>.dropdown-menu{display:none}</style></head>

  <body>
  


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80845192-1', 'auto');
  ga('send', 'pageview');

</script>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Gogle tracking</title>





 
         
        
    <header class="head-section">

		<div class="navbar navbar-default navbar-static-top container">
			<div class="navbar-header">
				<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button"><span class="icon-bar"></span> <span class="icon-bar"></span>
				<span class="icon-bar"></span></button> 
				<a class="navbar-brand" href="http://www.mainecoonavendre.com/index.php">
				<span>LA MAJOR TOM'S COMPANY</span></a>
			</div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <li><a href="http://www.mainecoonavendre.com/index.php">Accueil </a></li>
            <li class="dropdown"> <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover="dropdown" data-toggle="dropdown" href="#">Pages <i class="fa fa-angle-down"></i></a>
				<ul class="dropdown-menu">
				<li><a href="http://www.mainecoonavendre.com/chatterie_elevage_mainecoon.php">Nous</a></li>
				<li> <a href="http://www.mainecoonavendre.com/faq.php">FAQ</a></li>   
				<li> <a href="http://www.mainecoonavendre.com/chatterie_mainecoon.php">Conditions de vente</a></li>
				</ul>
            </li>

            <li class="dropdown"><a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover="dropdown" data-toggle="dropdown" href="#">Nos Chats <i class="fa fa-angle-down"></i> </a>
				<ul class="dropdown-menu">
				<li> <a href="http://www.mainecoonavendre.com/maine_coon_amiens.php">Photos</a> </li>
				<li> <a href="http://www.mainecoonavendre.com/maine_coon_gallery.php">Galerie</a> </li>
				<li> <a href="http://www.mainecoonavendre.com/maine_coon_amiens-video.php">Video</a></li>
				</ul>     
            </li>
                <!--  <li class="dropdown"> <a href="blog.php">Blog</a> </li>         --> 
           
			<li><a href="http://www.mainecoonavendre.com/maincoon_disponible.php">Aucun Bébé disponible Aujourd hui</a></li>
			<li><a href="http://www.mainecoonavendre.com/contact.php">Contact</a></li></ul></div> 
		</div>
    </header>
    <!--header end-->
    <!--header end-->

    <div class="container">

        <div class="row">
      	
            <div class="col-md-12">
                <ul id="filters" class="clearfix">
                      <li><span class="filter active" data-filter="males femelles retraites chatons mariages">Tous nos chats</span></li>
                    <li><span class="filter" data-filter="males">Nos Mâles</span></li>
                    <li><span class="filter" data-filter="femelles">Nos Femelles</span></li>
                    <li><span class="filter" data-filter="retraites">Nos Retraités</span></li>
					<!--ancienne ligne des catons 
                    <li><span class="filter" data-filter="chatons">Nos chatons disponibles</span></li> end-->
                    <li><span class="filter" data-filter="mariages">Actuels et futurs mariages</span></li>
                    <li><span class="filter" data-filter="web"></span></li>
            	</ul>
            </div>   <!--fin div col-md-12 -->

        </div> <!--fin div  row -->
    </div>  <!--fin div  container -->
       
 <div class="container">
    <div class="row mar-b-30">
        <div id="portfoliolist-three">
           	<div class="col-md-12">
			
			    <!-----Chaton numero  photo de la mere avec ses petits---->

		
	<!-----Male numero 1  ---->
			
				 
				<!-----Male numero 2  ---->
				 
	
			 	
<div class="portfolio males mix_all" data-cat="males" style="display: inline-block;  opacity: 1;">
  <div class="portfolio-wrappser">
    <div class="portfolio-hover">
      <div class="image-caption">
         
        <a href="http://www.mainecoonavendre.com/img/portfolios/males/males2.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="right" data-original-title="" title=""></a> 
				<a href="https://www.facebook.com/profile.php?id=100011448016422&amp;fref=ts" target="_blank" data-original-title="" title=""><i class="fa fa-facebook"></i></a>

      </div>
      <!--fin div  image-caption  data-toggle="tooltip" --> 
      <img src="Elevage%20Mainecoon%20Amiens_fichiers/males2.jpg" alt="">
      <li> <style="border:0;float:left; padding:="" 5px="" 12px="" 0px;"=""> <strong>
        Locky du Major Tom        </strong><br>
        Couleur : Red Self        <br>
        Date de naissance : 20 décembre 2015        <br>
        Père : James Wyatt des Shags de Bussy        <br>
        Mère: Libertines des Shags de Bussy        <br>
                <br>
        <br>
         </style="border:0;float:left;></li>
    </div>
  </div>
</div>
				 				<!-----Male numero 3  ---->
				 
				
<div class="portfolio males mix_all" data-cat="males" style="display: inline-block;  opacity: 1;">
  <div class="portfolio-wrappser">
    <div class="portfolio-hover">
      <div class="image-caption" style="display: none;">
         
        <a href="http://www.mainecoonavendre.com/img/portfolios/males/males3.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="right" data-original-title="" title=""></a> 
				<a href="https://www.facebook.com/profile.php?id=100011448016422&amp;fref=ts" target="_blank" data-original-title="" title=""><i class="fa fa-facebook"></i></a>

      </div>
      <!--fin div  image-caption  data-toggle="tooltip" --> 
      <img src="Elevage%20Mainecoon%20Amiens_fichiers/males3.jpg" alt="Chatterie_mainecoon_amiens_male">
      <li> <style="border:0;float:left; padding:="" 5px="" 12px="" 0px;"=""> <strong>
        Lee-Roy du Major Tom        </strong><br>
        Couleur : Red Blotched Tabby        <br>
        Date de naissance : 20 décembre 2015        <br>
        Père : James Wyatt des Shags de Bussy        <br>
        Mère: Libertines des Shags de Bussy        <br>
                <br>
        <br>
         </style="border:0;float:left;></li>
    </div>
  </div>
</div>
				 				<!-----Male numero 4  ---->
				 

	
				
<div class="portfolio males mix_all" data-cat="males" style="display: inline-block;  opacity: 1;">
  <div class="portfolio-wrappser">
    <div class="portfolio-hover">
      <div class="image-caption" style="display: none;">
         
        <a href="http://www.mainecoonavendre.com/img/portfolios/males/males4.jpeg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="right" data-original-title="" title=""></a> 
				<a href="https://www.facebook.com/profile.php?id=100011448016422&amp;fref=ts" target="_blank" data-original-title="" title=""><i class="fa fa-facebook"></i></a>

      </div>
      <!--fin div  image-caption  data-toggle="tooltip" --> 
      <img src="Elevage%20Mainecoon%20Amiens_fichiers/males4.jpeg" alt="Chatterie_mainecoon_amiens_male">
      <li> <style="border:0;float:left; padding:="" 5px="" 12px="" 0px;"=""> <strong>
        Negger du Sergent Pepper's        </strong><br>
        Couleur : Black Smoke        <br>
        Date de naissance : 7 Mai 2017        <br>
        Père : Locky du Major Tom        <br>
        Mère: Ashabelle Clarissa dite Lune        <br>
                <br>
        <br>
         </style="border:0;float:left;></li>
    </div>
  </div>
</div>
	 
				 
 				<!-----Femelle numero 1  ---->
			
				<!-----Femelle numero 2  ---->
	
								 
				<!-----Femelle numero 3  ---->
				 
				
				
<div class="portfolio femelles mix_all" data-cat="femelles" style="display: inline-block;  opacity: 1;">
  <div class="portfolio-wrappser">
    <div class="portfolio-hover">
      <div class="image-caption">
         
        <a href="http://www.mainecoonavendre.com/img/portfolios/femelles/Mainecoon_femelles_3.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="right" data-original-title="" title=""></a> 
				<a href="https://www.facebook.com/profile.php?id=100011448016422&amp;fref=ts" target="_blank" data-original-title="" title=""><i class="fa fa-facebook"></i></a>

      </div>
      <!--fin div  image-caption  data-toggle="tooltip" --> 
      <img src="Elevage%20Mainecoon%20Amiens_fichiers/Mainecoon_femelles_3.jpg" alt="Chatterie de mainecoon amiens">
      <li> <style="border:0;float:left; padding:="" 5px="" 12px="" 0px;"=""> <strong>
        Ashabelle Clarissa dite Lune         </strong><br>
         Couleur : Blue        <br>
        Date de naissance : 10 décembre 2015        <br>
        Père : Ashabelle Vadim         <br>
        Mère: Langstteich’s Miami Blue         <br>
                <br>
        <br>
         </style="border:0;float:left;></li>
    </div>
  </div>
</div>
		
				 				<!-----Femelle numero 4  ---->
				 
				
				
<div class="portfolio femelles mix_all" data-cat="femelles" style="display: inline-block;  opacity: 1;">
  <div class="portfolio-wrappser">
    <div class="portfolio-hover">
      <div class="image-caption">
         
        <a href="http://www.mainecoonavendre.com/img/portfolios/femelles/Mainecoon_femelles_4.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="right" data-original-title="" title=""></a> 
				<a href="https://www.facebook.com/profile.php?id=100011448016422&amp;fref=ts" target="_blank" data-original-title="" title=""><i class="fa fa-facebook"></i></a>

      </div>
      <!--fin div  image-caption  data-toggle="tooltip" --> 
      <img src="Elevage%20Mainecoon%20Amiens_fichiers/Mainecoon_femelles_4.jpg" alt="Chatterie_mainecoon_amiens_femelle4">
      <li> <style="border:0;float:left; padding:="" 5px="" 12px="" 0px;"=""> <strong>
        Hofgorn's Nimue         </strong><br>
         Couleur : Black Silver Blotched Tabby        <br>
        Date de naissance :  18 Mai 2017        <br>
        Père : Coontact L.Maestro        <br>
        Mère: Firedevils Hanuta        <br>
                <br>
        <br>
         </style="border:0;float:left;></li>
    </div>
  </div>
</div>
	
			 
				
<div class="portfolio femelles mix_all" data-cat="femelles" style="display: inline-block;  opacity: 1;">
  <div class="portfolio-wrappser">
    <div class="portfolio-hover">
      <div class="image-caption">
         
        <a href="http://www.mainecoonavendre.com/img/portfolios/femelles/Mainecoon_femelles_2.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="right" data-original-title="" title=""></a> 
				<a href="https://www.facebook.com/profile.php?id=100011448016422&amp;fref=ts" target="_blank" data-original-title="" title=""><i class="fa fa-facebook"></i></a>

      </div>
      <!--fin div  image-caption  data-toggle="tooltip" --> 
      <img src="Elevage%20Mainecoon%20Amiens_fichiers/Mainecoon_femelles_2.jpg" alt="Chatterie_mainecoon_amiens_femelle 2">
      <li> <style="border:0;float:left; padding:="" 5px="" 12px="" 0px;"=""> <strong>
        Nevada du Paradis de Nini        </strong><br>
        Couleur :Red Smoke          <br>
        Date de naissance :  3 Aout 2017        <br>
                <br>
                <br>
                <br>
        <br>
         </style="border:0;float:left;></li>
    </div>
  </div>
</div>
	
				 
				 				<!-----Retraité numero 1  ---->
				 

				
<div class="portfolio retraites mix_all" data-cat="retraites" style="display: inline-block;  opacity: 1;">
  <div class="portfolio-wrappser">
    <div class="portfolio-hover">
      <div class="image-caption">
         
        <a href="http://www.mainecoonavendre.com/img/portfolios/retraites/retraites1.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="right" data-original-title="" title=""></a> 
				<a href="https://www.facebook.com/profile.php?id=100011448016422&amp;fref=ts" target="_blank" data-original-title="" title=""><i class="fa fa-facebook"></i></a>

      </div>
      <!--fin div  image-caption  data-toggle="tooltip" --> 
      <img src="Elevage%20Mainecoon%20Amiens_fichiers/retraites1.jpg" alt="Chatterie_mainecoon_amiens_femelle 2">
      <li> <style="border:0;float:left; padding:="" 5px="" 12px="" 0px;"=""> <strong>
        Hermes        </strong><br>
        Couleur : Brown Blotched Tabby          <br>
        Date de naissance :  Décembre 2014          <br>
                 <br>
                 <br>
                <br>
        <br>
         </style="border:0;float:left;></li>
    </div>
  </div>
</div>
								 				<!-----Retraité numero 2  ---->
				 
	
				
<div class="portfolio retraites mix_all" data-cat="retraites" style="display: inline-block;  opacity: 1;">
  <div class="portfolio-wrappser">
    <div class="portfolio-hover">
      <div class="image-caption">
         
        <a href="http://www.mainecoonavendre.com/img/portfolios/retraites/retraites2.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="right" data-original-title="" title=""></a> 
				<a href="https://www.facebook.com/profile.php?id=100011448016422&amp;fref=ts" target="_blank" data-original-title="" title=""><i class="fa fa-facebook"></i></a>

      </div>
      <!--fin div  image-caption  data-toggle="tooltip" --> 
      <img src="Elevage%20Mainecoon%20Amiens_fichiers/retraites2.jpg" alt="Chatterie_mainecoon_amiens_femelle 2">
      <li> <style="border:0;float:left; padding:="" 5px="" 12px="" 0px;"=""> <strong>
         Libertines des Shags de Bussy         </strong><br>
        Couleur : Brown Tortie Mackerel Tabby        <br>
        Date de naissance : 08 mai 2015         <br>
        Père : Mainefields Yukon Mystery         <br>
        Mère: Idille de l’Amour des Coons        <br>
                <br>
        <br>
         </style="border:0;float:left;></li>
    </div>
  </div>
</div>
	 
				  <!-----Retraité numero 3 ---->
				
				 	
				
<div class="portfolio retraites mix_all" data-cat="retraites" style="display: inline-block;  opacity: 1;">
  <div class="portfolio-wrappser">
    <div class="portfolio-hover">
      <div class="image-caption">
         
        <a href="http://www.mainecoonavendre.com/img/portfolios/retraites/retraites3.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="right" data-original-title="" title=""></a> 
				<a href="https://www.facebook.com/profile.php?id=100011448016422&amp;fref=ts" target="_blank" data-original-title="" title=""><i class="fa fa-facebook"></i></a>

      </div>
      <!--fin div  image-caption  data-toggle="tooltip" --> 
      <img src="Elevage%20Mainecoon%20Amiens_fichiers/retraites3.jpg" alt="Chatterie_mainecoon_amiens_Retraité 3">
      <li> <style="border:0;float:left; padding:="" 5px="" 12px="" 0px;"=""> <strong>
        Lore Luxury  du Major Tom        </strong><br>
        Couleur : Red Blotched Tabby          <br>
        Date de naissance : 20 décembre 2015        <br>
        Père : James Wyatt des Shags de Bussy         <br>
        Mère: Libertines des Shags de Bussy         <br>
                <br>
        <br>
         </style="border:0;float:left;></li>
    </div>
  </div>
</div>
								 				<!-----mariages numero 1  ---->
				 
					
				
<div class="portfolio mariages mix_all" data-cat="mariages" style="display: inline-block;  opacity: 1;">
  <div class="portfolio-wrappser">
    <div class="portfolio-hover">
      <div class="image-caption">
         
        <a href="http://www.mainecoonavendre.com/img/portfolios/femelles/Mainecoon_femelles_4.jpg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="right" data-original-title="" title=""></a> 
				<a href="https://www.facebook.com/profile.php?id=100011448016422&amp;fref=ts" target="_blank" data-original-title="" title=""><i class="fa fa-facebook"></i></a>

      </div>
      <!--fin div  image-caption  data-toggle="tooltip" --> 
      <img src="Elevage%20Mainecoon%20Amiens_fichiers/Mainecoon_femelles_4.jpg" alt="Chatterie mainecoon amiens ">
      <li> <style="border:0;float:left; padding:="" 5px="" 12px="" 0px;"=""> <strong>
                </strong><br>
        Hofgorn's Nimue         <br>
         Couleur : Black Silver Blotched        <br>
        Date de naissance :  18 Mai 2017        <br>
        Père : Coontact L.Maestro        <br>
        Mère: Firedevils Hanuta        <br>
        <br>
         </style="border:0;float:left;></li>
    </div>
  </div>
</div>
				
												<!-----mariages numero 2  ---->
				 
					
				
<div class="portfolio mariages mix_all" data-cat="mariages" style="display: inline-block;  opacity: 1;">
  <div class="portfolio-wrappser">
    <div class="portfolio-hover">
      <div class="image-caption">
         
        <a href="http://www.mainecoonavendre.com/img/portfolios/mariages/mariages2.jpeg" class="label magnefig label-info icon" data-toggle="tooltip" data-placement="right" data-original-title="" title=""></a> 
				<a href="https://www.facebook.com/profile.php?id=100011448016422&amp;fref=ts" target="_blank" data-original-title="" title=""><i class="fa fa-facebook"></i></a>

      </div>
      <!--fin div  image-caption  data-toggle="tooltip" --> 
      <img src="Elevage%20Mainecoon%20Amiens_fichiers/mariages2.jpeg" alt="Chatterie mainecoon amiens ">
      <li> <style="border:0;float:left; padding:="" 5px="" 12px="" 0px;"=""> <strong>
                </strong><br>
        Negger du Sergent Pepper's        <br>
        Couleur : Black Smoke        <br>
        Date de naissance : 7 Mai 2017        <br>
        Père : Locky du Major Tom        <br>
        Mère: Ashabelle Clarissa dite Lune        <br>
        <br>
         </style="border:0;float:left;></li>
    </div>
  </div>
</div>
				
			 
 
		 


				
			</div>
        </div>
    </div>
</div>

       
   <!--footer start-->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-3 address wow fadeInUp" data-wow-duration="2s" data-wow-delay=".1s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.1s; animation-name: none;" data-wow-animation-name="fadeInUp">
            <h1>
              contact info
            </h1>
            <address>
              <p><i class="fa fa-home pr-10"></i>Address:  <br>
             <br>Résidence La Peupleraie
			  <br>80160 PLACHY BUYON
              </p>
              <p><i class="fa fa-globe pr-10"></i></p>
              <p><i class="fa fa-mobile pr-10"></i>Mobile : 06 20 00 16 56  </p>
			  
              <p><i class="fa fa-phone pr-10"></i>Emails :  <br>
			  <!--<a href="mailto:contact@any-site.com" title="Send an email">-->
              <a href="mailto:bruno@mainecoonavendre.com">bruno@mainecoonavendre.com<br></a>
              <a href="mailto:contact@mainecoonavendre.com">contact@mainecoonavendre.com<br></a>
		   <!-- <a href="mailto:fabienne@mainecoonavendre.com">fabienne@mainecoonavendre.com</a>-->
            </p>
            </address>
          </div>
			  <div class="col-lg-3 col-sm-3">
            <div class="text-footer wow fadeInUp" data-wow-duration="2s" data-wow-delay=".7s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.7s; animation-name: none;" data-wow-animation-name="fadeInUp">
              <h1>
                En deux mots...
              </h1>
              <p>
               
Nous résidons dans la Somme près d’Amiens, département 80, à une 
centaine de kilomètres de Paris ou Lille.

Pour avoir accès à la totalité des photos de nos chats, rendez-vous sur 
Facebook, rechercher « Tom Major », photos tout public.

Pour nos chatons achetés par des acquéreurs près de chez nous, nous 
proposons un hébergement gratuit (hors nourriture) pour ceux qui en 
auraient besoin (vacances, WE, etc…)

Bruno reste à votre disposition si vous souhaitez des renseignements 
complémentaires

              </p>
            </div>
          </div>
          <div class="col-lg-3 col-sm-3">
            <div class="page-footer wow fadeInUp" data-wow-duration="2s" data-wow-delay=".5s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.5s; animation-name: none;" data-wow-animation-name="fadeInUp">
				<h1>
                Nous
				<ul class="social-link-footer list-unstyled">
				     <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".1s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.1s; animation-name: none;" data-wow-animation-name="flipInX">
						<a href="https://www.facebook.com/profile.php?id=100011448016422&amp;fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
					 </li>
					 </ul></h1><ul class="page-footer-list">
                <li>
                  
                  <br>
                  <i class="fa fa-angle-right"></i>
                  <a href="http://www.mainecoonavendre.com/faq.php">Faq</a>
                </li>

                <li>
                  <i class="fa fa-angle-right"></i>
                  <a href="http://www.mainecoonavendre.com/terms.php">Termes &amp; conditions</a>
                </li>
				       
              </ul>
            </div>
          </div>
          
        </div>
      </div>
    </footer>
	    <footer class="footer-small">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 pull-right">
                    <ul class="social-link-footer list-unstyled">
                   <!--     <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".8s"><a href="#"><i class="fa fa-facebook"></i></a></li>
						
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".2s"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".3s"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".4s"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".5s"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".6s"><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".7s"><a href="#"><i class="fa fa-github"></i></a></li>
                        <li class="wow flipInX" data-wow-duration="2s" data-wow-delay=".8s"><a href="#"><i class="fa fa-youtube"></i></a></li>--->
                    </ul>
                </div>
                <!--<div class="col-md-4">-->
                  <div class="copyright">
                    <p>© Copyright LA MAJOR TOM'S COMPANY   -   Site construit par SOGELOG 
                    <a href="http://www.sogelog.eu/" target="_blank"><img src="Elevage%20Mainecoon%20Amiens_fichiers/sogelog.gif" alt="Sogelog développeur de site" width="66" height="48" border="0"></a>
                	
                  </p></div><p></p>
                <!--</div>-->
            </div>
        </div>
    </footer>


    <!-- js placed at the end of the document so the pages load faster-->
    <script src="Elevage%20Mainecoon%20Amiens_fichiers/jquery.js"></script> 
    <script src="Elevage%20Mainecoon%20Amiens_fichiers/jquery-1.js"></script>
    <script src="Elevage%20Mainecoon%20Amiens_fichiers/bootstrap.js"></script>
    <script type="text/javascript" src="Elevage%20Mainecoon%20Amiens_fichiers/hover-dropdown.js"></script>
    <script defer="defer" src="Elevage%20Mainecoon%20Amiens_fichiers/jquery_005.js"></script>
    <script type="text/javascript" src="Elevage%20Mainecoon%20Amiens_fichiers/jquery_004.js"></script>

    <script type="text/javascript" src="Elevage%20Mainecoon%20Amiens_fichiers/jquery_002.js"></script>
    <script src="Elevage%20Mainecoon%20Amiens_fichiers/wow.js"></script>
    <script src="Elevage%20Mainecoon%20Amiens_fichiers/owl.js"></script>
    <script src="Elevage%20Mainecoon%20Amiens_fichiers/mixitup.js"></script>
    <script src="Elevage%20Mainecoon%20Amiens_fichiers/jquery_003.js"></script>
    <script src="Elevage%20Mainecoon%20Amiens_fichiers/link-hover.js"></script>


    <!--common script for all pages-->
    <script src="Elevage%20Mainecoon%20Amiens_fichiers/common-scripts.js"></script><i id="back-to-top" style="display: inline;"></i>



    <script src="Elevage%20Mainecoon%20Amiens_fichiers/jquery_006.js"></script>

    <script type="text/javascript">
    $('.image-caption a').tooltip();

    $(function () {

        var filterList = {

            init: function () {

                // MixItUp plugin
                // http://mixitup.io
                $('#portfoliolist-three').mixitup({
                    targetSelector: '.portfolio',
                    filterSelector: '.filter',
                    effects: ['fade'],
                    easing: 'snap',
                    // call the hover effect
                    onMixEnd: filterList.hoverEffect()
                });

            },

            hoverEffect: function () {
                $("[rel='tooltip']").tooltip();
                // Simple parallax effect
                $('#portfoliolist-three .portfolio .portfolio-hover').hover(
                function(){
                    $(this).find('.image-caption').slideDown(250); //.fadeIn(250)
                },
                function(){
                    $(this).find('.image-caption').slideUp(250); //.fadeOut(205)
                }
            );
            }

        };

        // Run the show!
        filterList.init();


    });

    $( document ).ready(function() {
       $('.magnefig').each(function(){
            $(this).magnificPopup({
                    type:'image',
                    removalDelay: 300,
                    mainClass: 'mfp-fade'
               })
        });
    });
    </script>

  <script>



      $(document).ready(function() {

        $("#owl-demo").owlCarousel({

            autoPlay: 3000, //Set AutoPlay to 3 seconds

            items : 4,
            itemsDesktop : [1199,3],
            itemsDesktopSmall : [979,3],
            stopOnHover : true,

        });

      });

      new WOW().init();


  </script>
 

</body></html>
<!--appel Google analytics-->
<!--header start-->
<!--header start-->