{% extends 'base.html.twig' %}
{% block title %}accueil{% endblock title %}
{% block body %}
<div class="d-flex justify-content-around" id="zoom"> 
  <div><a href="Nimue.html"><img class="img_tof" src="public/image/nimue.png" alt="..." href="Nimue.html"></a></div>
  <div><a href="Nevada.html"><img class="img_tof" src="public/image/nevada-pf.png" alt="..."></a></div>
  <div><img class="img_tof" src="public/image/negrita.png"  alt="..."></div>
</div>
{% endblock body %}
