{% extends 'base.html.twig' %}
{% block title %}accueil{% endblock title %}
{% block body %}
      
    <img src="public/image/logo.png"  class="img-fluid" alt="Responsive image" >

  <nav class="menu" style="background-color: none;">  
   <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="Accueil.html">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="Lachatterie.html">La Chatterie</a>
  </li>
   <li class="nav-item">
    <a class="nav-link " href="larace.html">La race</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="males.html">Mâles</a>
  </li> <li class="nav-item">
    <a class="nav-link actif" href="femelles.html">Femelles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="chatons.html">Chatons</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="retraites.html" tabindex="-1" aria-disabled="true">Retraités</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="contact.html" tabindex="-1" aria-disabled="true">Contact</a>
  </li>
</ul>
  
</nav>

<div class="d-flex justify-content-around" id="zoom"> 
  <div><a href="Nimue.html"><img class="img_tof" src="public/image/nimue.png" alt="..." href="Nimue.html"></a></div>
  <div><a href="Nevada.html"><img class="img_tof" src="public/image/nevada-pf.png" alt="..."></a></div>
  <div><img class="img_tof" src="public/image/negrita.png"  alt="..."></div>
</div>
{% endblock body %}
