{% extends 'base.html.twig' %}
{% block title %}accueil{% endblock title %}
{% block body %}
		<body data-spy="scroll" data-target="#navbar-example">
			
		<img src="{{ asset('logo.png"  class="img-fluid" alt="Responsive image" >

	<nav class="menu" style="background-color: none;">  
   <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="Accueil.html">Accueil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="Lachatterie.html">La Chatterie</a>
  </li>
   <li class="nav-item">
    <a class="nav-link actif" href="larace.html">La race</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="males.html">Mâles</a>
  </li> <li class="nav-item">
    <a class="nav-link" href="femelles.html">Femelles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="chatons.html">Chatons</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="retraites.html" tabindex="-1" aria-disabled="true">Retraités</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="contact.html" tabindex="-1" aria-disabled="true">Contact</a>
  </li>
</ul>
  
</nav>


<div class="container">
  <div class="row">
    <div class="col col-lg-3">
      <div id="list-example" class="list-group">
  <span class="groupe"><a class="list-group-item list-group-item-action" href="#list-item-1">Son histoire</a></span>
  <span class="groupe"><a class="list-group-item list-group-item-action" href="#list-item-2">Standard</a></span>
  <span class="groupe"><a class="list-group-item list-group-item-action" href="#list-item-3">Entretien</a></span>
  <span class="groupe"><a class="list-group-item list-group-item-action" href="#list-item-4">Particularités</a></span>
</div>
    </div>
    <div class="col col-lg-9">
      <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example" >
  <h4 id="list-item-1">Un peu d’histoire pour commencer :</h4>

  <p> Ses origines sont réellement inconnues. De l’anecdote d’un croisement (impossible) entre un raton  laveur (Racoon en américain, qui lui aussi a une jolie terminaison en forme de panache) et d’un chat   au croisement peut-être plus crédible de chats locaux habitués au grand froid des hivers de l’état du Maine avec des chats tous aussi solides et résistants importés par les Vikings, personne ne peut affirmer réellement les origines du Maine Coon hormis le fait que ce chat provient de l’état du Maine (US).

  Détrôné depuis peu par le Savanah (hybride de chats et de lynx), le Maine Coon fut jusqu’alors le plus grand chat du monde (et le reste si l’on ne parle que de descendance de chats ce qui n’est pas le cas du Savanah).

  Très proche du Norvégien (d’où la probabilité d’un croisement avec des chats importés par les Vikings), il reste plus grand et plus lourd.

  Impressionnant par sa taille (surtout la tête énorme pour les mâles) et son regard de « boxeur » près à en découdre avec quiconque l’approcherait, ce chat est en fait très social et particulièrement affectueux. « Une boite à ronrons » disent les heureux propriétaires qui en possèdent.

  Il est paisible et dort beaucoup. Toutefois il a énormément besoin de se dépenser dans ses phases de réveil, un jardin, des jouets et surtout un ou des arbres à chats lui permettent de libérer son énergie (autrement ce sont les meubles qui prennent).
  </p>

  <h4 id="list-item-2">A quoi ressemble t-il ?</h4>

  <p>Considéré comme le plus imposant des chats domestiques, le Maine Coon est un chat à poils mi-longs
  dont le corps est rectangulaire puissamment et musclé.
  Les mâles sont généralement plus grands que les femelles (le poids d’un mâle oscille entre 7 et 10 Kg, la femelle entre 4,5 et 8 Kg).

  La tête est de taille moyenne (enfin, relative au chat) avec un fort museau carré bien détaché des pommettes. Il possède de grandes oreilles portées haut sur la tête se terminant par des plumets "à la lynx" et des pattes fortes de hauteur moyenne, ce qui renforce l’aspect rectangulaire du corps.

  La queue est longue et bien fournie, elle doit se rabattre jusqu’au cou du chat (entre les omoplates).
  Le Maine Coon est un chat qui grandit et s’épaissit jusqu’à 4 ans ( croissance lente),une collerette s’étoffera autour du cou en fonction des saisons, lui conférant ainsi un aspect de petit lion.</p>

  <h4 id="list-item-3">Comment l'entretenir ?</h4>

  <p>Un brossage par semaine tout au plus voire deux en période de mue pour éviter les nœuds dans les poils, si trop tard, découper délicatement avec une paire de ciseaux à couture (par exemple) en faisant attention à la peau du chat qui est assez élastique. Tous les chats ne sont pas égaux sur ce sujet, certains auront le poil plus ou moins léger ou plus ou moins noueux en fonction des lignées travaillée, mais aussi en fonction de leur couleur.
  
  Pensez à vérifier régulièrement les coussinets ainsi que les poils entre ces derniers (surtout en enclos extérieur pour les tiques), nettoyer si besoin.
  
  Contrôlez la propreté des oreilles et nettoyer les oreilles sales (risque d’infection légère) avec un coton humidifié au serum physiologique.

  Evitez de trop brosser la queue du Maine Coon, elle perdrait de son panache, juste la caresser à la main pour enlever les poils morts ou brosser légèrement à rebrousse poil en partant de la base du corps jusqu'à l'extrémité de la queue. Pour terminer, agiter doucement celle-ci de gauche à droite pour donner un effet panaché...enfin...si vôtre chat vous y autorise !</p>
  
  <h4 id="list-item-4">Ses particularités</h4>

  <p>Le Maine Coon ne sait pas ou très rarement miauler ! Il pousse des cris bizarres assez amusants en réponses aux différentes choses que  vous lui direz. Ce chat est très intelligent et sait très vite se faire comprendre en fonction de ses besoins, aussi, si quelque chose l’ennuie, il est assez expressif.

  S’il est dans un jardin, attention, sa puissante musculature lui permet de grimper à des hauteurs de grillage de plus de 2 mètres pour aller faire son shopping ou des balades bucoliques et vu la taille du matou, il peut affoler les personnes ne connaissant pas cette race au regard de sa taille. Prévoyez un enclos extérieur ou des sorties en harnet sous surveillance pour cette raison.

  Le Maine Coon aussi un chat très curieux, acheter lui un arbre à chat (de préférence assez costaud vu le poids) et il passera des heures...dans le carton en ignorant l’arbre.</p>
</div>
    </div>
  </div>
  </div>


  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

				<link rel="stylesheet" type="text/css" href="../js_mjtom/larace.js">
    </body>

</html>